In [3]:
import pandas as pd
from scipy.stats import chi2, t, norm
df = pd.read_csv('../files/tratamiento frijoles.csv')
g = df.groupby('tratamiento')
t1 = g.get_group('T1')
t2 = g.get_group('T2')
t1.describe()

          tiempo
count   7.000000
mean   78.857143
std     4.180453
min    74.000000
25%    75.500000
50%    78.000000
75%    82.000000
max    85.000000

In [4]:
t2.describe()

          tiempo
count   7.000000
mean   61.428571
std     4.157609
min    55.000000
25%    59.000000
50%    63.000000
75%    63.500000
max    67.000000

In [7]:
t.ppf(0.5, 14)

6.757487535773418e-17

In [6]:
norm.ppf(0.025)

-1.9599639845400545