In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('../files/precio_casas.csv')

In [7]:
df

    area  numero_habitaciones  numero_banos  antiguedad  precio
0     48                    2             1           8      80
1     42                    2             1           5      75
2     50                    2             1           6      80
3     65                    3             1           7      90
4     68                    3             2           8      98
5     65                    3             2           5      95
6     72                    2             2          11     105
7     78                    3             2           2     120
8     80                    3             2           2     125
9     45                    2             1           6      72
10    50                    2             1           7      80
11    72                    2             2           9     105
12    80                    3             2           3     126
13    82                    3             2           5     125
14    98                    4             3           6     138
15    65                    3             2           8      95

In [8]:
# Vamos a tomar los puntos máximos y minimos del DataFrame con respecto a 'X'
maximum = df[df.area == df.area.max()].values[0]
minimum = df[df.area == df.area.min()].values[0]
maximum, minimum

(array([ 98,   4,   3,   6, 138]), array([42,  2,  1,  5, 75]))

In [123]:
# Determinamos la pendiente inicial
m = (maximum[1]-minimum[1])/(maximum[0]-minimum[0])

In [124]:
x_medium = df.area.mean()
y_medium = df.precio.mean()

In [126]:
a_values = np.array([(df.precio[i]-ym)/(df.area[i]-xm) for i in range(df.shape[0])])
a_values

array([ 1.10471204,  1.0260223 ,  1.27878788, -2.7       ,  0.33333333,
       -0.53333333,  0.94214876,  1.55276382,  1.66222222,  1.36956522,
        1.27878788,  0.94214876,  1.72      ])

In [114]:
# Valor necesario para determinar b en la ecuación de la recta
a = 0
for j in a_values:
    a += j
a

9.977158883663453

In [118]:
# Obtenemos b para nuestra ecuación
b = y_medium - a*x_medium
b

-529.2603453989011

In [116]:
def fx(x):
    return m*x + b

In [117]:
fx(65)

-443.7340296094274