In [13]:
from numpy import ndarray
from sklearn import tree
import numpy as np
import pandas as pd

In [14]:
# Leyendo los datos desde un CSV 
df = pd.read_csv('files/personas.csv')

In [15]:
df

              nombre        pais  genero  edad  estatura  peso  calzado
0  José Miguel Henao    Colombia       1    24       165    65       39
1      Marta Cardona    Colombia       0    50       160    58       35
2    Ana María Henao    Colombia       0    26       158    50       36
3       Manuel Henao    Colombia       1    29       169    76       39
4        Peter Smith  Inglaterra       1    35       189    79       42
5      Angela Merkel    Alemania       0    62       172    75       37
6     Vladimir Putin       Rusia       1    65       170    77       40

In [38]:
g = df.groupby('pais')
col = g.get_group('Colombia')
col.describe()

        genero       edad    estatura       peso    calzado
count  4.00000   4.000000    4.000000   4.000000   4.000000
mean   0.50000  32.250000  163.000000  62.250000  37.250000
std    0.57735  12.010412    4.966555  11.026483   2.061553
min    0.00000  24.000000  158.000000  50.000000  35.000000
25%    0.00000  25.500000  159.500000  56.000000  35.750000
50%    0.50000  27.500000  162.500000  61.500000  37.500000
75%    1.00000  34.250000  166.000000  67.750000  39.000000
max    1.00000  50.000000  169.000000  76.000000  39.000000

In [16]:
# Tomando los registros numéricos del Dataframe
X = df[['genero','edad','estatura','peso','calzado']].values
# Tomandos las etiquetas de cada registro del Dataframe
Y = df['pais'].values

In [26]:
print('Datos: ', X)
print('\n')
print('Etiquetas: ',Y)

Datos:  [[  1  24 165  65  39]
 [  0  50 160  58  35]
 [  0  26 158  50  36]
 [  1  29 169  76  39]
 [  1  35 189  79  42]
 [  0  62 172  75  37]
 [  1  65 170  77  40]]


Etiquetas:  ['Colombia' 'Colombia' 'Colombia' 'Colombia' 'Inglaterra' 'Alemania'
 'Rusia']

In [33]:
clf = tree.DecisionTreeClassifier()
# Entrenamos nuestro árbol
clf = clf.fit(X,Y)

In [32]:
#[Genero,Edad,Estatura,Peso,Calzado]
prediction = clf.predict([[1,25,165,65,39],[1,35,166,88,41]])

#Mostrando la predicción para dos conjuntos de datos
print (prediction)

['Colombia' 'Colombia']