In [1]:
import pandas as pd
df = pd.read_csv('../files/tratamiento frijoles.csv')

In [4]:
sd

NameError: name 'sd' is not defined

In [5]:
df

   tratamiento  tiempo
0           T2      57
1           T2      67
2           T2      55
3           T2      64
4           T2      61
5           T2      63
6           T2      63
7           T1      76
8           T1      85
9           T1      74
10          T1      78
11          T1      82
12          T1      75
13          T1      82