In [1]:
from numpy import ndarray
from sklearn import tree
import numpy as np

In [41]:
df = pd.read_csv('files/personas.csv')

In [42]:
df

              nombre        pais  genero  edad  estatura  peso  calzado
0  José Miguel Henao    Colombia       1    24       165    65       39
1      Marta Cardona    Colombia       0    50       160    58       35
2    Ana María Henao    Colombia       0    26       158    50       36
3       Manuel Henao    Colombia       1    29       169    76       39
4        Peter Smith  Inglaterra       1    35       189    79       42
5      Angela Merkel    Alemania       0    62       172    75       37
6     Vladimir Putin       Rusia       1    65       170    77       40

In [46]:
#Tomando los valores numericos de 
X = df[['genero','edad','estatura','peso','calzado']].values
Y = df['pais'].values

In [49]:
X,Y

(array([[  1,  24, 165,  65,  39],
        [  0,  50, 160,  58,  35],
        [  0,  26, 158,  50,  36],
        [  1,  29, 169,  76,  39],
        [  1,  35, 189,  79,  42],
        [  0,  62, 172,  75,  37],
        [  1,  65, 170,  77,  40]]),
 array(['Colombia', 'Colombia', 'Colombia', 'Colombia', 'Inglaterra',
        'Alemania', 'Rusia'], dtype=object))

In [50]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,Y)

In [52]:
#[Genero,Edad,Estatura,Peso,Calzado]
prediction = clf.predict([[1,25,165,65,39],[1,35,196,88,41]])
print (prediction)

['Colombia' 'Inglaterra']